/*========== reservation window ==========*/
#reservation-window {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  background-color: #000000cf;
  top: 0;
  left: 0;
  display: none;
  white-space: normal;
}
#reservation-window.hidden {
  display: none;
}
#reservation-window.active {
  display: block;
}
#reservation-container {
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  width: 35em;
  background-color: white;
  
  white-space: normal;
}
#close-reservation {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}
#close-reservation .material-symbols-outlined {
  font-size: 2.5em;
}
.reservation-page.active {
  display: block;
}



.group-left {
  display: inline-block;
  text-align: left;
  padding: 0.5em;
  vertical-align: middle;
  width: 80%;
}
.radio {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  vertical-align: middle;
  
}
.product-group {
  width: 100%;
  background: gainsboro;
  border: 0;
  margin: 0.25em;
  padding: 0.5em;
  border-radius: 2em;
  text-align: left;
  display: inline-block;
  max-width: 20em;
  font-size: 1em;cursor: pointer;
}
.group-left .title {
  font-size: 1.25em;
  display: block;
  width: 100%;
}
.price {
  display: block;
  font-size: 1.15em;
}
.price span {
  font-size: 0.8em;
  margin-left: ;
  margin-right: 0.5em;
}
.product-group .radio .material-symbols-outlined {
  font-size: 2em;
  color: white;
  border-radius: 1em;
  display: inline-block;
}
.product-group .radio.unchecked .material-symbols-outlined{
  display: none;
}
.radio.unchecked{
  background-color: white;
}
.radio.checked{
  background-color: green;
}



#dateInput {
  height: 0;
  width: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* custom JQUERY UI  / datepicker */
.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  max-width: 50em;
  width: 100%;
}

.ui-state-default {
  height: 3.5em;
}

.ui-datepicker {
  width: auto;
  max-width: 40em;
}

.ui-widget-header {
  background: #fff;
  color: #333;
  font-weight: bold;
  border: 0;
}

.ui-datepicker-calendar th span {
  font-weight: normal;
}

.ui-widget.ui-widget-content {
  margin: 0 auto;
  border: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-button,
.ui-button {
  border: none;
  background: #672500;
  color: white;
  padding: 0em 0.25em 0.25em 2em;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: 0.5;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: none;
  background: white;
  font-weight: normal;
  color: #212121;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background: #e1c115 !important;
  color: #672500 !important;
  font-weight: bold;
}
@media (max-width: 600px) {
  #datepicker {
    font-size: 0.8em;
  }
}

.highlighted.thanks-giving .ui-state-default {
  background: #d35a1f;
  color: white;
}

.highlighted.christmas .ui-state-default {
  background: #237032;
  color: white;
}

.datepicker-key {
  text-align: left;
}

.key-mark {
  height: 1em;
  width: 1em;
  display: inline-block;
}

#thanks-giving .key-mark {
  background-color: orangered;
}

#christmas .key-mark {
  background-color: #237032;
}

.date-key-description {
  display: inline-block;
  margin: auto 0.5em;
  vertical-align: top;
  text-transform: capitalize;
  font-size: 1.1em;
}

/*===========================*/
#package-title {
  text-transform: capitalize;
  color: #672500;
  line-height: 1em;
  font-size: 1.75em;
  display: block !important;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}

.next-btn,
.prev-btn {
  background-color: #ffc700;
  color: #672500;
  font-size: 1em;
  padding: 0.5em 2.5em;
  border-radius: 2em;
  text-transform: capitalize;
  border: 0;
  margin-top: 0.5em;
  margin-left: 0.5em;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.next-btn:hover,
.prev-btn:hover {
  background-color: skyblue;
  color: #063c52;
}

.reservation-page.hidden {
  display: none;
}

.reservation-page.active {
  display: block;
  text-align: center;
}
/*===========================*/
.price-container {
  display: table;
  list-style-type: none;
  width: 100%;
  margin-top: 0.5em;
  border-bottom: 0.1em solid #f7795629;
  padding: 0.5em;
}
.price-left{
  width: 60%;
  display: table-cell;
  text-align: center;
}
.price-right{
  display: table-cell;
  width: 40%;
  text-align: right;
  padding: 0em 0.25em;
}
.price-container li {
  vertical-align: middle;
}

.price-description {
  font-family: inherit;
}
.price-description {
  display: block;
  width: 100%;
  text-align: left;
}

.price-container .price-control {
  height: 0;
  width: 0;
  border: 0;
}

.list-price,
.sale-price {
  display: inline-block;
  
  text-align: center;
  color: #063c52;
  font-size: 1.15em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  position: relative;width: 4em;
}

.list-price.strike-price {
  opacity: 0.5;
}

.list-price.strike-price:after {
  content: "";
  position: absolute;
  left: 0.25em;
  width: 3.5em;
  height: 1em;
  top: 1.5em;
  line-height: 2em;
  letter-spacing: -1em;
  
  border-top: 0.15em solid #333;
}

.list-price {
  color: #333;
  text-decoration: none !important;
}

.list-price::before {
  content: "list";
  display: block;
  font-size: 0.8em;
  text-transform: capitalize;
  text-align: center;
  font-weight: lighter;
}
.sale-price::before {
  content: "sale";
  display: block;
  font-size: 0.8em;
  text-transform: capitalize;
  font-weight: lighter;
}
.price-list {
  text-align: right;
  display: inline-block;
}

.spinner-container {
  border-radius: 5em;
  max-width: 8em;
  background: #fff;
  border: 0.15em solid #1e4e62;
  margin: 0.5em 0;
}

.spinner {
  width: 2em;
  font-size: 1em;
  vertical-align: middle;
  display: inline-block;
  border: 0;
  padding: 0.25em 0.2em;
  text-align: center;
}

.minus-button,
.plus-button {
  color: #063c52;
  background: transparent;
  border: 0;
  border-radius: 5em;
  cursor: pointer;
  vertical-align: middle;
}

.collector-container {
  padding-top: 1em;
  text-align: center;
}
.collector-container label {
  display: block;
  color: #333;
  font-size: 1.2em;
  text-align: center;
}
.collector-container input[type="text"],
.collector-container input[type="email"] {
  padding: 1em;
  width: 100%;
  max-width: 25em;
  margin: 1em auto;
  border-radius: 0.75em;
  border: 0.15em solid gainsboro;
}


#reservation-controls {
  text-align: center;
  padding-top: 1em;
}

.collector-container select {
  padding: 1em;
  width: 100%;
  max-width: 25em;
  margin: 1em auto;
  border-radius: 0.75em;
  border: 2px solid gainsboro;
  background: white;
  cursor: pointer;
}



#addToCartSubmit {
  background-color: #ffc700;
  color: #672500;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 2em;
  text-transform: capitalize;
  border: 0;
  margin-top: 0.5em;
  margin-left: 0.5em;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

/*===== reservation window messages =====*/
#cutoff-window {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 3em;
  border-radius: 0.8em;
  box-shadow: 0em 0em 2em #0000009c;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}
#cutoff-message-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#cutoff-window .material-symbols-outlined {
  font-size: 3em;
  color: white;
}
#cutoff-window p {
  font-size: 1em;
  padding: 1em;
  color: white;
  font-weight: bold;
}
#cutoff-window {
  display: none;
}
#cutoff-window.active {
  display: block;
}
#window-button {
  background-color: cadetblue;
  color: #fafafa;
  font-size: 1em;
  padding: 0.5em 2.5em;
  border-radius: 2em;
  text-transform: capitalize;
  border: 0;
  margin-top: 0.5em;
  margin-left: 0.5em;
  cursor: pointer;
  transition: 0.3s;
}
#calendar-message,
#price-message {
  display: block;
  background-color: #8a0000;
  text-align: center;
  padding: 0.25em 0em;
  border-radius: 2em;
  margin: 0 auto;
  font-size: 0.9em;
}

#calendar-message span,
#calendar-message p,
#price-message span,
#price-message p {
  color: white;
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
}

#calendar-message.hidden,
#price-message.hidden {
  width: 0;
  overflow: hidden;
  height: 0;
}

#calendar-message.visible,
#price-message.visible {
  width: 100%;
}

#calendar-message .material-symbols-outlined,
#price-message .material-symbols-outlined {
  font-size: 1.25em;
  border: 2px solid white;
  border-radius: 50%;
  padding: 0.15em;
  margin: 0em 0.25em;
}
#unavailable-package {
  text-align: center;
  padding: 2em;
  overflow: hidden;
}
#unavailable-package .material-symbols-outlined {
  font-size: 5em;
  color: #3336;
}
#unavailable-package h2 {
  color: #333;
  max-width: 16em;
  margin: 0 auto;
  line-height: 1em;
  margin: 1em auto;
}
#unavailable-package p {
  font-size: 1.1em;
  color: #333;
}
/*=====================*/
#security-header {
  background: none;
  border: 0;
  color: #333;
  cursor: pointer;text-align: left;float: left;font-size: 1em;
  position: absolute;
  left: 0.5em;
}
#security-header img {
  width: 2em;
  display: inline-block;
  vertical-align: middle;
}
#security-header span {
  font-size: 1.25em;
  vertical-align: middle;
  display: inline-block;
}
#security-dialogue {
  position: absolute;
  top: 4em;
  background: #41a0b8;
  max-width: 40em;
  width: 90%;
  padding: 2em;
  border-radius: 0.5em;
  z-index: 2;
  box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.33);
  cursor: pointer;
}
#security-dialogue {
  display: none;
}
#security-dialogue.active {
  display: block;
}
#security-dialogue::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 2em solid #41a0b8;
  position: absolute;
  left: 1em;
  top: -1.5em;
}
#security-dialogue::after {
  content: "x";
  color: white;
  font-size: 1.15em;
  background-color: #41a0b8;
  border-radius: 1em;
  padding: 0.1em 0.4em 0.1em 0.4em;
  position: absolute;
  right: 0.25em;
  top: 0.25em;
  border: 0.125em solid white;
}
#security-dialogue p {
  color: white;
  line-height: 2em;
}
#trust-logo-container {
  background: ivory;
  text-align: center;
  padding-bottom: 1em;
  max-width: 1200px;
  margin: 0 auto;
}
/*============*/

#reservation-book {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 2em;
}
@media(max-width:750px){
  #reservation-container{
    width: 95%;
    height: 95%;
    max-height: 42em;
    text-align: center;
  }
  #reservation-book{
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 1em;
    height: 28em;
  }
  #reservation-book::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
  }
  .ui-datepicker table{
    width: 100%;
    font-size: 1.1em;
  }
  .price-container{
     padding: 0;
  }
}

@media(max-height: 450px){
    #reservation-window{
        font-size: 0.8em
    }
    #reservation-book{
      height: 20em;
      overflow: hidden;overflow-y: scroll;
    }
}


@media(max-width:400px){
  .ui-datepicker table{
    width: 100%;
    font-size: 0.9em;
  }    
}




